<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructivo2</title>
</head>
<body>
    <h1>Bizcochuelo básico sin gluten</h1>
    <img src="../img/foto4.jpg" width="500" height="250"/>

    <h3>Descripción de la receta</h3>
    <p>Este bizcochuelo sin gluten es tan esponjoso y delicioso que nadie notará la diferencia. Ideal para compartir en familia, disfrutar con el mate o acompañar una merienda especial. ¡Una receta simple, rica y apta para todos!</p>

    <hr>
   <h2>Lista de ingredientes:</h2>

   <ul>
   <li>200 g de mix de harina sin gluten</li>
   <li>200 g de azúcar</li>
   <li>150 gramos azúcar</li>
   <li>1 cdta. de polvo leudante</li>
   <li>1 cdta. de café de goma xántica/li>
   <li>6 huevos</li>
</ul>

<h2>Lista de pasos</h2>
<ol>
    <li>En un bowl, colocar los huevos y batir con batidora eléctrica</li>
    <li>Agregar en forma de lluvia el azúcar y seguir batiendo hasta lograr un punto letra</li>
    <li>Incorporar en forma envolvente el resto de los secos, tamizados</li>
    <li>En un molde enmantecado, volcar toda la mezcla</li>
    <li>Cocinar en un horno precalentado a 170°C por unos 30 minutos</li>
    <li>Para saber si está listo, pinchar con un palillo: tiene que salir con una miguita pegada</li>
    
</ol>
<br>
<iframe width="500" height="250" src="https://www.youtube.com/embed/_8NCyqdvQAo" title="BIZCOCHUELO SIN GLUTEN/SIN TACC-Esponjoso-Fácil para principiantes." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<br>
<a href="../../Recetario.html">Volver al inicio</a>
<br>
<a href="https://cookpad.com/ar/buscar/bizcochuelo%20para%20celiacos" target="_blank">Más de 100 recetas de bizcochuelo sin tacc</a>
<br>
<a href="instructivo1.html">Ir a receta de galletas de avena sin tacc</a>


</body>
</html>