<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructivo1</title>
</head>
<body>
    <h1>Receta de Galletas de avena</h1>
    <img src="../img/foto3.jpg" width="500" height="250"/>
    <h3>Descripción de la receta</h3>
    <p>La avena sin gluten es una excelente fuente de fibra y energía. En esta receta te mostramos cómo prepararla de forma simple y deliciosa, aprovechando todos sus beneficios y asegurando una opción libre de gluten para todos los gustos.</p>
    <hr>
    
   <ul>
   <h2>Lista de ingredientes</h2>
   <li>Copos de avena sin gluten</li>
   <li>Harina de arroz o premezcla</li>
   <li>Azúcar</li>
   <li>Levadura</li>
   <li>Sal</li>
   <li>Huevos</li>
   <li>Aceite</li>
   <li>Esencia de vainilla (opcional)</li>
   <li>Chocolate o chispas (opcional)</li>
</ul>

<ol>
    <h2>Lista de pasos</h2>
    <li>Mezclamos en un bowl los copos de avena, la harina, el azúcar, la levadura y la sal</li>
    <li>Le agregamos los dos huevos e incorporamLos mezclando despacio</li>
    <li>Luego de que los huevos ya estén incorporados, agregamos el aceite y la vainilla y seguimos mezclando</li>
    <li>Cuando la mezcla esté lista agregamos las chispas de chocolate y mezclamos</li>
    <li>Colocamos aceite en una bandeja y la enharinamos. Formamos bolitas con la masa y las presionamos un poco sobre la bandeja</li>
    <li>Finalmente metemos al horno a potencia media por 15-20 minutos, esto depende de la potencia de cada horno</li>
    </ol>

     <br>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/pADqKmEX9HA" title="GALLETAS DE AVENA | faciles y riquísimas 🥹🧉 #cookies #receta #galletas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <br>
    <a href="../../Recetario.html">Volver al inicio</a>
    <br>

    <a href="https://cookpad.com/ar/buscar/galleta%20sin%20gluten%20ni%20azucar" target="_blank">otras recetas de galletas sin gluten</a>

    <br>
    <a href="instructivo2.html">Ir a receta de Bizcochuelo sin gluten</a>


</body>
</html>